/* Universal */
* {
  border: solid 1px rgba(0, 0, 0, 0.5);
}

html {
  font-size: 18px;
}

h1 {
  font-weight: bold;
  font-size: 3rem;
  text-transform: uppercase;
}

h4 {

}

li {
  list-style: none;
}

a{
  text-decoration: none;
  color: black;
}


/* containers */
body {
  display: flex;
  justify-content: center;
}

.site-container {
  width: 15.55rem;
}
