/* Universal */

html {
  font-size: 18px;
}

h1 {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  margin-bottom: 1%;
}

h4 {
  font-family: 'Montserrat', sans-serif;
}

li {
  font-family: 'Lora', serif;
  list-style: none;
  margin: 2% 0;
  line-height: 1.5;
  margin-left: 2%;
}

a{
  text-decoration: none;
  color: black;
}


/* containers */
body {
  height: 4000px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.site-container {
  background-color: white;
  height: 100%;
  width: 1000px;
}

.container-all {
  width: inherit;
  display: inline-flex;
  margin-top: 10%;
}

.text-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

aside {
  width: 8%;
  border-right: solid 4px black;
  margin-right: 1%
}

div {
  height: 2px;
  width: inherit;
  background-color: black;
  margin: 2% 0 3% 0;
}
