/* Universal */
html {
  font-size: 18px;
}

h1 {
  font-family: 'Merriweather Sans', sans-serif;
  color: #111112;
  font-size: 4rem;
  text-transform: uppercase;
  margin-bottom: 1%;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  margin-left: 0.3rem;
}

li {
  color: #6b6972;
  font-family: 'Lora', serif;
  font-size: 1.2rem;
  list-style: none;
  margin: 2% 0;
  line-height: 1.5;
  margin-left: 2%;
}

/* TODO make darker */
a{
  text-decoration: none;
  color: #6b6972;
}

a:hover{
  color: black;
}

/* containers */
body {
  height: 4000px;
  background-color: #edecee;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

header {
  overflow: hidden;
  height: 5.45rem;
}

.site-container {
  background-color: #f7f7f8;
  height: 100%;
  width: 1000px;
  border-left: solid 1px #cecdd0;
  border-right: solid 1px #cecdd0;
}

.container-all {
  width: inherit;
  display: inline-flex;
  margin-top: 10%;
}

.text-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


/* side border animation */
.aside-container {
  width: 18%;
  height: 14rem;
  margin-right: 1%;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}

aside {
  width: 8%;
  border-right: solid 4px #111112;
  animation: falldown 1s ease-in-out forwards;
}

@keyframes falldown {
  0% {
    transform: translateY(-300px);
     opacity: 0;
   }
  60% {
    opacity: 1;
  }
  75% {
    transform: translateY(0px);
  }
}


/* underline animation */
.underline-container {
  height: 2px;
  width: 21rem;
  margin: 2% 0 3% 0.4rem;
  overflow-x: hidden;
}

.underline {
  height: inherit;
  width: inherit;
  background-color: black;
  opacity: 0.4;
  transform: translateX(-22rem);
  animation: slideIn 300ms linear 450ms forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(-22rem);
  }
  100% {
    transform: translateX(0rem);
  }
}


/* header animation */
.header-container {
  height: inherit;
  opacity: 0;
  animation: popUp 500ms ease-out 750ms forwards;
}

@keyframes popUp {
    0% {
      opacity: 0;
      transform: translateY(5.5rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
}


/* li animation */
.list-container {
  overflow-x: hidden;
}

.l1 {
  transform: translateX(-20rem);
  animation: fadein 1s ease-in-out 1.25s forwards;
}

.l2 {
  transform: translateX(-20rem);
  animation: fadein 1s ease-in-out 1.65s forwards;
}

.l3 {
  transform: translateX(-20rem);
  animation: fadein 1s ease-in-out 2.05s forwards;
}

@keyframes fadein {
  0% {
    transform: translateX(-6rem);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    transform: translateX(0.15rem);
  }
  100% {
    transform: translateX(0);
  }
}
